{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{judul}}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

    <link rel="stylesheet" href="{% static "css/bold.css" %}">

    <link rel="stylesheet" href="{% static "css/perfect-scrollbar.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-icons.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- <link rel="shortcut icon" href="https://technext.github.io/mazer/assets/images/favicon.svg" type="image/x-icon"> -->
    <style>
        .fileUpload {
     position: relative;
     overflow: hidden;
     margin: 10px;
 }
 input.upload {
     position: absolute;
     top: 0;
     right: 0;
     margin: 0;
     padding: 0;
     font-size: 20px;
     cursor: pointer;
     opacity: 0;
     filter: alpha(opacity=0);
 }
    </style>
</head>

<body>

{% include "./sidebar.html" %}
    <div id="app">
        <div id="main">

            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
